Config( // A template configuration file for `evolution`
    fullscreen: true,
    window_size: (640.0, 480.0),
    desired_fps: 60,
    show_fps: false,

    vehicle: VehicleConfig(
        quantity: 20,
        size_range: (1.0, 2.0),
        max_speed_range: (1.0, 2.0),
        max_steering_force_range: (0.01, 0.1),
        total_food_chain_links: 3,  // Excludes food
    ),

    food: FoodConfig(
        quantity: 50,
        size_range: (5.0, 20.0),
    ),

    poison: FoodConfig(
        quantity: 50,
        size_range: (5.0, 20.0),
    ),
)
